body {
  background: url(background.jpg);
  /* cloud bg*/
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center space-around;

}

/*--- log out button style ----*/
.logOutBtn {
  background-color: white;
  border: 1px solid rgb(0, 47, 255);
  border-radius: 5px;
  height: 30px;
  display: block;
  position: relative;
  right: 50%;
}

#firstPageDiv {

  margin: auto;
  text-align: center;
  display: block;

}


#headLine {
  margin: 10px;
  text-decoration: underline;
  font-family: 'Odibee Sans', cursive;
  font-size: 60px;
  font-weight: bolder;
  letter-spacing: 0.2em;
  color: rgb(0, 47, 255);

}

#usernameInput {
  width: 60%;
  padding: 14px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;

}

#userNameError {
  color: red;
  font-weight: bold;
  font-size: 14px;
}

#passwordInput {
  width: 60%;
  padding: 14px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;

}


#loginButton {
  background-color: rgb(0, 47, 255);
  color: white;
  padding: 15px 20px;
  margin: 8px 0;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  width: 60%;
  top: 80px;
  box-shadow: 0 3px #999;

}

#HAB {

  animation-name: HABFly;
  animation-duration: 15s;
  animation-iteration-count: infinite;

}

@keyframes HABFly {
  0% {
    position: relative;
    left: 100%;
  }

  50% {
    position: relative;
    left: -100%;
  }

  100% {
    position: relative;
    left: 100%;
  }
}

/* -----------------------------second page-------------------------------- */
#secondPageDiv {
  margin: auto;
  text-align: center;
  display: none;
  /* we will change the display property to show the pages */

}


#sudokuRules {
  margin-top: 4em;
  padding: 2em;
  font-family: 'Odibee Sans', cursive;
  width: 26em;
  border: none;
  color: white;
  background-color: rgb(0, 47, 255);
  border-radius: 4px;
  box-shadow: 0 5px #999;
}

#rulesHead {
  margin-top: 0;
}

#habPicDiv {
  width: 110px;
  height: 110px;
  float: right;
  animation-name: hab1Float;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;

}

@keyframes hab1Float {
  0% {
    position: relative;
    bottom: 2px;
  }

  50% {
    position: relative;
    bottom: -2px;
  }

  100% {
    position: relative;
    bottom: 2px;
  }

}

#hab2PicDiv {
  width: 110px;
  height: 110px;
  float: left;
  animation-name: hab2Float;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;

}

@keyframes hab2Float {
  0% {
    position: relative;
    bottom: -2px;
  }

  50% {
    position: relative;
    bottom: 2px;
  }

  100% {
    position: relative;
    bottom: -2px;
  }

}

#difficultyLevel {
  background-color: white;
  margin-left: 23%;
  width: 50%;
  padding: 2%;
  border-radius: 5px;
  font-family: 'Odibee Sans', cursive;
  color: rgb(0, 47, 255);
  animation-name: levelsBorder;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes levelsBorder {
  0% {
    border: 3px solid rgb(0, 47, 255);
  }

  50% {
    border: 3px solid transparent;
  }

  100% {
    border: 3px solid rgb(0, 47, 255);
  }
}

.levelsButtons {
  background-color: rgb(0, 47, 255);
  color: white;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 0.2em;
  border: none;
  margin: 2%;
  width: 15%;
  height: 70px;
  cursor: pointer;
  border-radius: 15px;
  border: 2px solid white;
  font-family: 'Odibee Sans', cursive;
  padding: 5px;
  text-align: center;
  box-shadow: 0 3px #999;
}

/* ----------------------page three--------------------------------- */

#thirdPageDiv {

  margin: auto;
  text-align: center;
  display: none;
  /* we will change the display property to show the pages */


}

#p3Header {
  font-family: 'Odibee Sans', cursive;
  text-decoration: underline;
  color: white;
  width: 80%;

}

#P3Header {
  margin: auto;
  position: relative;
  bottom: 200px;
  left: 350px;
}


#sudokuTable {
  margin: auto;
  color: rgb(0, 47, 255);
  /*color of the text inside the table*/
  font-weight: 600;
  font-size: 1.3em;
  border: 5px solid black;
  border-radius: 5px;
  width: 450px;
  height: 450px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.651);
  border-collapse: collapse;

}

.sudokuInputs {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(0, 47, 255);
}


.cell {
  width: 2%;
  height: 5%;
  border: 0.1px solid black;
}

td:first-child {
  border-left: 3px solid black;
}

td:nth-child(3n) {
  border-right: 3px solid black;
}

tr:first-child {
  border-top: 3px solid black;
}

tr:nth-child(3n) td {
  border-bottom: 3px solid black;
}

.sudokuBtn {
  background-color: rgb(0, 47, 255);
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.2em;
  color: white;
  border: none;
  margin: 2%;
  width: 15%;
  height: 70px;
  cursor: pointer;
  border-radius: 15px;
  border: 2px solid white;
  font-family: 'Odibee Sans', cursive;
  padding: 5px;
  text-align: center;
  box-shadow: 0 3px #999;
}


.sudokuBtn :hover {
  background-color: white;
  color: rgb(0, 47, 255);
}

#HAB3Img {
  width: 110px;
  height: 110px;
  float: left;
  position: relative;
  right: 25%;
  animation-name: habFloat;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  z-index: -1;


}

@keyframes habFloat {
  0% {
    position: relative;
    bottom: 5px;
  }

  50% {
    position: relative;
    bottom: -5px;
  }

  100% {
    position: relative;
    bottom: 5px;
  }

}

#youWinDiv {

  display: none;
  /* we will change the display property to show the win div after winning */
  position: relative;
  bottom: 35em;
  left: 12em;
  height: 0px;
  width: 0px;
}

#youLosePic {
  width: 45em;
  height: 35em;
}

#youWinPic {
  width: 45em;
  height: 35em;
}

#youLoseDiv {
  display: none;
  /* we will change the display property to show the lose div after losing */
  position: relative;
  bottom: 40em;
  left: 14em;
  height: 0px;
  width: 0px;
}

#backBtn {
  width: 30%;
}

#finishBtn {
  width: 30%;
}